@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{  
margin: 0;
padding: 0;
scroll-behavior: smooth;
box-sizing: border-box;
}

html,
body{
height: 100%;
width: 100%;
font-family: "Roboto", sans-serif;
overflow-x: hidden;
}

.allGlobalcontainer{
    margin: 20px auto;
    max-width: 1450px;
}

 .navGlobalContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: sticky ;
    top: 0px;
    background-color: white;
    /* margin:0px 0px 90px 0px; */
 }

 .navGlobalContainer.navImgageLogo{
    width: 50px;
    height: 50px;
    padding: 0px 50px;
 }
    

.navGlobalContainer .navImgageLogo img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
 
 .navigationItems{
    display: flex;
    align-items: center;
   gap: 30px;
    font-weight: 600;
    font-size: 20px;
    gap: 10px;

} 
 .navigationItems .navLinks{
    display: flex;
    align-items: center;
   gap: 30px;
    font-weight: 600;
    font-size: 20px;
    gap: 10px;

} 

.navigationItems #homeInner{
    color: #065666;
     font-weight: 700;
 } 

  .navigationItems .solutionInner{
    /* margin: 20px; */
    display: flex;
    /* justify-content: space-between; */
    color: #636363;
    /* background-color: #6FC247; */
    /* border-radius: 20px; */
    gap: 20px;
    text-decoration: none;
    /* padding: 20px;
    margin-right: 50px;
     width: 700px;  */
     transition: all 0.3s ease-in-out;
}

  .navigationItems .solutionInner:hover{
 color: #065666;
}


 .navigationItems .buttonCont{
    width: 278px;
    padding: 30px 0px;
    color: #fff;
    background-color: #6FC247;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}  
 
.navigationItems{
    display: flex;
    align-items: center;
    gap: 20px;

}

.hamburgerMenu{
    display: none;
}

.hamburgerMenu i{
    font-size: 30px;
    font-weight: 700;
}

/* Navbar responsiveness starts here */
@media only screen and (max-width: 768px) {
    .navigationItems {
        position: fixed;
        left: -100%;
        top: 6rem;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        width: 100%;
        height: 100vh;
        gap: 50px;  
        text-align: left;
        align-items: center;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navigationItems .navLinks{
        flex-direction: column;  
        gap: 50px;  
    } 

    .navigationItems.active {
        left: 0;
    }

    .hamburgerMenu {
        display: block;
        cursor: pointer;
    }

    .hamburgerMenu .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }

    .hamburgerMenu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburgerMenu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburgerMenu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}



/* Navbar responsiveness ends here */


.worldGlobalcontainer{
    margin: 25px auto;
    padding: 20px;
    /* border: 1px solid red; */
    }


    .worldGlobalcontainer .header{
    /* border: 1px solid blue; */
    display: flex;  
    justify-content: center;
    align-content: center;
    font-weight: 900;
    font-size:50px;
    margin: 3opx;
    }

    .paragraphContainer{
        margin: 50px 0px;
        font-weight: 300;
    
    }
    .paragraphContainer p{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .demoContainer{
        display: flex;
        align-items: center;
        gap: 30px;
        justify-content: center;
        border: 1px solid red;
    }

    .demoContainer .buttonCont{
        width: 278px;
        padding: 30px 0px;
        color: #fff;
        background-color: #6FC247;
        border-radius: 20px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    .demoContainer .buttonContainer{
        width: 278px;
        padding: 30px 0px;
        border: 1px solid #6FC247;
        /* margin: 30px;
        padding: 40px;
        width: 300px;
        gap: 10px;
        display: flex;
        text-align: center;
        justify-content: center; */
        color: #6FC247;
        border-radius: 20px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    /* .desctopNav{
        display: flex;
    }
     */
    /* nav for Mobilenav */
    .mobileNav{
        display: none;
        background: #05859f;
        width: 100%;
        height: 100svh;
        position: absolute;
        top: 120px;
        left: 0;
    }
    /* }
        #dashBar {
            font-size: 30px;
            display: none;
        }
        
        #starBar {
            font-size: 35px;
            display: none;
        } */
    
    .imageHttps{
        margin: 60px 0px;

    }

    .imageHttps img{
        /* border: 1px solid rgb(255, 204, 0); */
        width: 100%;
        
    }
    .trustedContainer{
    /* border: 1px solid red; */
    justify-content: center;
    align-content: center;
    margin: 3opx;
    text-align: center;

    }
.trustedContainer .h3container{
     /* border: 1px solid red; */
    padding: 50px 20px 10px 20px;
}

.imageGlobal{
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: 3% auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
}

.imageGlobal.imagesContainer1{
height: 82px;
width: 216px;
} 

.imageGlobal .imagesContainer1 img{
    /* border: 1px solid red; */
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 974px){
    .imageGlobal{
        padding: 20px;
          grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px){
    .imageGlobal{
          grid-template-columns: repeat(2, 1fr);
    }

    .imageGlobal.imagesContainer1{
        width: 186px;
        } 


        
    .demoContainer .buttonCont{
        width: 152px;  
        border: 1px solid red;
    }
    
    .demoContainer .buttonContainer{
        width: 152px;
        border: 1px solid red;
  
    }
        
}


.secImagecontainer{
    /* border: 1px solid red; */
    display: flex;
    gap: 15px;
    margin: 20px;
}
.secImagecontainer .secImagecontainer1 img{
    /* border: 1px solid red; */
    height: 200px;
    width: 100%;
}

.thirdImagecontainer{
    /* border: 1px solid red; */
    display: flex;
    gap: 15px;
    margin: 20px;
}
.thirdImagecontainer .thirdImagecontainer1 img{
    /* border: 1px solid red; */
    height: 200px;
    width: 100%;
}

.generalGlobal{
    background-color: black;
    padding: 20px;
}
.whyContainer1 h2{
    /* border: 1px solid red; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 30px 20px 20px 20px;
    color: #fff;
}
.whyContainer1 p{
    /* border: 1px solid red; */
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    /* margin: 0px 0px 20px 0px; */
    color: #fff;
    /* margin: 20px; */
}
.secContainer{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* gap: 200px; */
    /* margin-left: 20px; */
    /* padding: 20px; */
    /* font-size: 15px; */
   
}
.secContainer .secureContainer{
    /* border: 1px solid red; */
    color: #fff;
    
   
}
/* .secContainer .secureContainer h3{
    border: 1px solid red; 
    padding: 5px; 
    margin: 10px;
} */
.accurateGlobal .accurateInnercontainer{
    padding: 25px;
}
.accurateGlobal .accurateInnercontainer h3{
   /* border: 1px solid red; */
   text-align: center;
   padding: 20px;
}
.accurateGlobal .accurateInnercontainer p{
    text-align: center;
    font-weight: 300;
}
.reportGlobal{
    /* border: 1px solid red; */
    display: flex;
    height: 700px;
    width: 100%;
    /* gap: 30px; */
    /* margin: 30px 0px 0px 20px; */
}
.reportMaininner{
 width: 30%;
 /* border: 1px solid red; */
 margin-left: 30px;
 gap: 20px;
}

.reportInner h3{
 /* border: 1px solid red; */
 padding: 20px 0px 10px 0px;
 font-size: 17px;

}

.ImageInner{
    /* border: 1px solid red; */
    margin: 20px;
    /* float: right; */
    height: 80px;
    width:70% ;
    }
    .ImageInner img{
    /* border: 1px solid red; */
    margin-right: 10px;
    height: 500px;
    width: 100%;
    /* padding: 20px; */
}
    .RequestContainer i{
     margin: auto;
     color: #fff;
     margin-left: 5px;
     /* margin-top: 90px; */
        }
     .RequestContainer .buttonContainer{
    /* margin-top: 90px ; */
    /* margin-bottom: 20px ; */
    border-radius: 10px;
    color: #fff;
    align-content: center;
    width: 200px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    margin:20px  auto;
    background-color: #6FC247;
    outline: none;
    border: none;
}

@media screen and (max-width: 933px) {
.reportGlobal{
    /* display: flex; */
    /* gap: 300px; */
    /* margin: 30px 0px 0px 0px; */
    display: block;
    justify-content: column;
    


} 
}
@media screen and (max-width: 768px){
    .valuticaGlobalcontainer {
     width: 100%;  
        
}
/* #dashBar {
    font-size: 30px;
    font-weight: 600;
    display:block ;
}

#starBar {
    font-size: 35px;
    display: none;
} */

.worldGlobalcontainer .header{
    /* border: 1px solid blue; */
    display: flex;  
    justify-content: center;
    align-content: center;
    font-weight: 900;
    font-size:20px;
    /* margin: 3opx; */
    }
    .demoContainer{
        /* border: 1px sodi red; */
        display: flex;
        justify-content: start;
        align-content: center;
}
.demoContainer .demoInner{
    margin: 10px;
    padding: 30px;
    width: 100%;
    height: 30%;
    text-align: center;
    justify-content: center;
    color: #fff;
    background-color: #6FC247;
    border-radius: 20px;
}
.demoContainer .demoInner2{
    border: 1px solid #6FC247;
    margin: 10px;
    padding: 30px;
    width:100%;
    gap: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #6FC247;
    border-radius: 20px;
}

.paragraphContainer p{
    /* margin: 10px; */
    font-weight: 200;
    justify-content: center;
    align-items: center;

}
.imagesContainer {
    /* border: 1px solid red; */
    display: block;
    justify-content:column;
    gap: 50px;
    margin: 10px ;
}
.secImagecontainer{
    /* border: 1px solid red; */
    display: block;
    justify-content: column;
    gap: 15px;
    margin: 20px;
}
.thirdImagecontainer{
    /* border: 1px solid red; */
    display: block;
    justify-content: column;
    gap: 15px;
    margin: 20px;
}

.secContainer{
    /* border: 1px solid red; */
    display:block;
    justify-content: column;
    gap: 120px;
    margin-left: 20px
}
.RequestContainer{
    border: 1px solid red;
    height: 80px;
    width: 200px;
    gap: 20px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 350px ;
    margin-bottom: 20px ;
    border-radius: 10px;
    background-color: #6FC247;
    
} 

.generalGlobal{
    background-color: black;
    padding: 10px;
}
.demoContainer{
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: start;
    height: 50px;
    width: 500px;
    gap: 20px;
}
.demoContainer .buttonCont{
    margin: 30px;
    padding: 40px;
    width: 300px;
    text-align: center;
    justify-content: center;
    color: #fff;
    background-color: #6FC247;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.demoContainer .buttonContainer{
    border: 1px solid #6FC247;
    margin: 30px;
    padding: 40px;
    width: 300px;
    gap: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #6FC247;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.whyContainer1 h2{
    /* border: 1px solid red; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 30px 20px 20px 20px;
    color: #fff;

}
.whyContainer1 h2{
    text-align: start;
    align-items: start;
    justify-content: start;
    margin: 20px 20px 20px 20px;
    color: #fff;

}
.ImageInner img{
    border: 1px solid red;
    margin-right: 50px;
    height: 400px;
    width: 150%;
    /* padding: 20px; */
}
.reportGlobal{
    /* border: 1px solid red; */
    display: flex;
    justify-content: column-reverse;
    height: 700px;
    width: 100%;
}
.RequestContainer .buttonContainer{
    margin-top: 190px ;
    /* margin-bottom: 20px ; */
    border-radius: 10px;
    color: #fff;
    /* align-content: center; */
    width: 100%;
    padding: 30px 20px;
    /* display: flex; */
    justify-content: start;
    /* margin: auto; */
    /* background-color: #6FC247; */
    /* outline: none; */
    /* border: none; */
}
}